html, body{
    display:block;
    zoom: 0.75;
    margin-top: 3mm;
    font-family: "Calibri";
    font-weight:bold;
    font-size: 12pt;
}
@page {
    margin: 0mm;  /* this affects the margin in the printer settings */
    size: 21.59cm 13.97cm;
}

img{
    width: 400px;
}
