html{
    max-width:21.5cm;
    max-height:14cm;
    font-family: 'Comic Sans MS',sans-serif;
}

@page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
