html{
    width:21.5cm;
    max-height:14cm;
}

@page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

body{
    font-family: 'Comic Sans MS',sans-serif;
    font-size: 11pt;
}
